<div class="contain bg-grey">

  <div class="first-name">
    <div class="letter-div">
      <h1 class="letter-first slide-in from-right">B</h1>
    </div>
    <div class="letter-div">
      <h1 class="letter-first slide-in from-right">E</h1>
    </div>
    <div class="letter-div">
      <h1 class="letter-first slide-in from-right slide-in from-right">N</h1>
    </div>
    <div class="letter-div">
      <h1 class="letter-first slide-in from-right">J</h1>
    </div>
    <div class="letter-div">
      <h1 class="letter-first slide-in from-right">A</h1>
    </div>
    <div class="letter-div">
      <h1 class="letter-first slide-in from-right">M</h1>
    </div>
    <div class="letter-div">
      <h1 class="letter-first slide-in from-right">I</h1>
    </div>
    <div class="letter-div">
      <h1 class="letter-first slide-in from-right">N</h1>
    </div>
  </div>

  <div class="band slide-in from-right">

    <div class="container">

      <div class="anchor-btns">
        <div class="slide-in from-below1">
          <a class="anchor white " href="">Home</a>
        </div>
        <div class="slide-in from-below2">
          <a class="anchor" href="">Photos</a>
        </div>
        <div class="slide-in from-below3">
          <a class="anchor" href="">Texts</a>
        </div>
      </div>

      <div class="infos">

        <div class="contact-me">
          <div class="slide-in from-below4">
            <p>MORE ABOUT ME </p>
          </div>
          <div class="slide-in from-below5">
            <h3>benjbdk@gmail.com </h3>
          </div>
        </div>

        <div class="slide-in from-below6 btns-net">
          <a class="socials" href=""><i class="fab fa-instagram"></i></a>
          <a class="socials" href=""><i class="fab fa-github"></i></a>
          <a class="socials" href=""><i class="fab fa-linkedin-in"></i></a>
        </div>

        <div class="slide-in from-below7">
          <h6>I'm benjamin boisson 18 years old </h6>
        </div>

      </div>

    </div>

  </div>

  <div class="last-name">
    <div class="letter-div">
      <h1 class="letter-last slide-in from-right-later">B</h1>
    </div>
    <div class="letter-div">
      <h1 class="letter-last slide-in from-right-later">O</h1>
    </div>
    <div class="letter-div">
      <h1 class="letter-last slide-in from-right-later">I</h1>
    </div>
    <div class="letter-div">
      <h1 class="letter-last slide-in from-right-later">S</h1>
    </div>
    <div class="letter-div">
      <h1 class="letter-last slide-in from-right-later">S</h1>
    </div>
    <div class="letter-div">
      <h1 class="letter-last slide-in from-right-later">O</h1>
    </div>
    <div class="letter-div">
      <h1 class="letter-last slide-in from-right-later">N</h1>
    </div>
  </div>

</div>
