<div class="big-container">
  <div class="nav">
    <ul class="container d-flex">
      <li>item</li>
      <li>item</li>
      <li>item</li>
      <li>item</li>
    </ul>
  </div>
  <div class="container">
    <h1>Hey, it's a pleasure to have you here !</h1>
  </div>
</div>
