.fade-in {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
.fade-in.appear {
  opacity: 1;
}

.from-left {
  transform: translateX(-20%);
}
.from-right,
.from-right-later {
  transform: translateX(100%);
  opacity: 1;
}
.from-below1,
.from-below2,
.from-below3,
.from-below7 {
  transform: translateY(70%);
    opacity: 0;
}

.from-below4{
  transform: translateY(120%);
    opacity: 0;
}
.from-below5{
  transform: translateY(140%);
    opacity: 0;
}
.from-below6{
  transform: translateY(150%);
    opacity: 0;
}

.from-below1 {
  transition:
    opacity 0.5s ease-in-out,
    transform 0.7s ease-in-out;
}
.from-below2,
.from-below4,
.from-below5,
.from-below6 {
  transition:
    opacity 0.6s ease-in-out,
    transform 0.8s ease-in-out;
}
.from-below3,
.from-below7 {
  transition:
  opacity 0.75s ease-in-out,
  transform 0.95s ease-in-out;
}

.from-right-later,
.from-left-later,
.from-right,
.from-left {
  transition:
    opacity 0.7s ease-out,
    transform 0.9s ease-out;
  opacity: 0;
}

.from-below1.appear,
.from-below2.appear,
.from-below3.appear,
.from-below4.appear,
.from-below5.appear,
.from-below6.appear,
.from-below7.appear,
.from-right.appear,
.from-left.appear,
.from-right-later.appear,
.from-left-later.appear {
  transform: translateX(0);
  transform: translateY(0);
  opacity: 1;
}

.from-right.appear {
  transition-delay: 0.2s;
}
.from-right-later.appear {
  transition-delay: 0.5s;
}
.from-below2.appear {
  transition-delay: 0.1s;
}
.from-below3.appear {
  transition-delay: 0.2s;
}
.from-below4.appear,
.from-below5.appear {
  transition-delay: 0.4s;
}
.from-below6.appear {
  transition-delay: 0.6s;
}
.from-below7.appear {
  transition-delay: 0.7s;
}
