.contain-home {
  width: 100vw;
  height: 100vh;
  background: #131313;
  position: sticky;
  top: 0;
}

.band {
  width: 100%;
  background-color: black;
  height: 74%;
  position: relative;
}

.first-name {
  height: 13%;
  display: flex;
  justify-content: space-around;
  color: black;
}
.last-name {
  height: 19%;
  display: flex;
  justify-content: space-around;
  color: black;
  transform: translateY(-70px);
}

.letter-div {
  overflow-x: hidden;
  height: max-content;
}
.letter-first {
  font-size: 10em;
  font-weight: 700;
  position: relative;
  top: -40px;
}
.letter-last {
  font-size: 10em;
  font-weight: 700;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
}

.anchor-btns {
  height: 100%;
  width: 53%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.infos {
  width: 47%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.contact-me {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.containers {
  width: 100vw;
  min-height: 100vh;
}
