<div class="contain-home bg-grey fade-in">
  <div class="first-name">
    <div class="letter-div">
      <h1 class="letter-first slide-in from-right">B</h1>
    </div>
    <div class="letter-div">
      <h1 class="letter-first slide-in from-right">E</h1>
    </div>
    <div class="letter-div">
      <h1 class="letter-first slide-in from-right">N</h1>
    </div>
    <div class="letter-div">
      <h1 class="letter-first slide-in from-right">J</h1>
    </div>
    <div class="letter-div">
      <h1 class="letter-first slide-in from-right">A</h1>
    </div>
    <div class="letter-div">
      <h1 class="letter-first slide-in from-right">M</h1>
    </div>
    <div class="letter-div">
      <h1 class="letter-first slide-in from-right">I</h1>
    </div>
    <div class="letter-div">
      <h1 class="letter-first slide-in from-right">N</h1>
    </div>
  </div>

  <div class="band slide-in from-right-band">

    <div class="container">

      <div class="anchor-btns">

        <div class="slide-in from-below1">
          <%= link_to "Home", root_path, class: "anchor-home anchor" %>

        </div>

        <div class="slide-in from-below2">
          <a class="anchor anchor-photo" href="/photos">Photos</a>
        </div>

        <div class="slide-in from-below3">
          <a class="anchor anchor-text active" href="/texts">Texts</a>
        </div>

      </div>

      <div class="infos">

        <div class="contact-me">
          <div class="slide-in from-below4">
            <p>MORE ABOUT ME </p>
          </div>
          <div class="slide-in from-below5">
            <h3>benjbdk@gmail.com </h3>
          </div>
        </div>

        <div class="slide-in from-below6 btns-net">
          <a class="socials" target="_blank" href="https://www.instagram.com/benj_boisson/?hl=fr"><i class="fab fa-instagram"></i></a>
          <a class="socials" target="_blank" href="https://github.com/BetterCallBen"><i class="fab fa-github"></i></a>
          <a class="socials" target="_blank" href="https://www.linkedin.com/in/benjamin-boisson-ba0a53227/"><i class="fab fa-linkedin-in"></i></a>
        </div>

        <div class="slide-in from-below7">
          <h6>I'm benjamin boisson, fullstack developer </h6>
        </div>

      </div>

    </div>

  </div>

  <div class="last-name">
    <div class="letter-div">
      <h1 class="letter-last slide-in from-right-later">B</h1>
    </div>
    <div class="letter-div">
      <h1 class="letter-last slide-in from-right-later">O</h1>
    </div>
    <div class="letter-div">
      <h1 class="letter-last slide-in from-right-later">I</h1>
    </div>
    <div class="letter-div">
      <h1 class="letter-last slide-in from-right-later">S</h1>
    </div>
    <div class="letter-div">
      <h1 class="letter-last slide-in from-right-later">S</h1>
    </div>
    <div class="letter-div">
      <h1 class="letter-last slide-in from-right-later">O</h1>
    </div>
    <div class="letter-div">
      <h1 class="letter-last slide-in from-right-later">N</h1>
    </div>
  </div>

</div>
<div class="open-menu-div">
  <a class="btn-open open-menu1">menu</a>
  <a class="btn-open open-menu2">menu</a>
</div>

<a class="close-home">close</a>
