<div class="container-sites containers">
  <div class="site">
    <h6 class="site-title">michelin immobilier estimation</h6>
    <div class="site-infos">
      <div class="url-div">
        <h5 class="url">url</h5>
        <h5 class="url-link">private (site admin)</h5>
      </div>
      <div class="team-div">
        <h5 class="team">team</h5>
        <h5 class="team-list">Alone</h5>
      </div>
    </div>
  </div>

  <div class="site">
    <h6 class="site-title">alanej</h6>
    <div class="site-infos">
      <div class="url-div">
        <h5 class="url">url</h5>
        <h5 class="url-link">alanej.herokuapp.com</h5>
      </div>
      <div class="team-div">
        <h5 class="team">team</h5>
        <h5 class="team-list">Robin Mael Eric</h5>
      </div>
    </div>
  </div>

  <div class="site">
    <h6 class="site-title">taxi masson</h6>
    <div class="site-infos">
      <div class="url-div">
        <h5 class="url">url</h5>
        <h5 class="url-link">taxi-florent-masson.com</h5>
      </div>
      <div class="team-div">
        <h5 class="team">team</h5>
        <h5 class="team-list">Alone</h5>
      </div>
    </div>
  </div>

  <div class="site">
    <h6 class="site-title">Betcoin</h6>
    <div class="site-infos">
      <div class="url-div">
        <h5 class="url">url</h5>
        <h5 class="url-link">in progress</h5>
      </div>
      <div class="team-div">
        <h5 class="team">team</h5>
        <h5 class="team-list">Alone</h5>
      </div>
    </div>
  </div>

  <div class="open-menu-div">
    <a class="btn-open btn-open-sites open-menu1">menu</a>
    <a class="btn-open btn-open-sites open-menu2">menu</a>
  </div>
</div>


<div class="contain-home bg-grey fade-in">
  <div class="first-name">
    <div class="letter-div">
      <div class="letter-first slide-in from-right">B</div>
    </div>
    <div class="letter-div">
      <div class="letter-first slide-in from-right">E</div>
    </div>
    <div class="letter-div">
      <div class="letter-first slide-in from-right">N</div>
    </div>
    <div class="letter-div">
      <div class="letter-first slide-in from-right">J</div>
    </div>
    <div class="letter-div">
      <div class="letter-first slide-in from-right">A</div>
    </div>
    <div class="letter-div">
      <div class="letter-first slide-in from-right">M</div>
    </div>
    <div class="letter-div">
      <div class="letter-first slide-in from-right">I</div>
    </div>
    <div class="letter-div">
      <div class="letter-first slide-in from-right">N</div>
    </div>
  </div>

  <div class="band slide-in from-right-band">

    <div class="container">

      <div class="anchor-btns">

        <div class="slide-in from-below1">
          <%= link_to "Home", root_path, class: "anchor-home anchor" %>

        </div>

        <div class="slide-in from-below2">
          <a class="anchor anchor-photo active" href="/sites">Sites</a>
        </div>

        <div class="slide-in from-below3">
          <a class="anchor anchor-text" href="/infos">Infos</a>
        </div>

      </div>

      <div class="infos">

        <div class="contact-me">
          <div class="slide-in from-below4">
            <p>MORE ABOUT ME </p>
          </div>
          <div class="slide-in from-below5">
            <h3>benjbdk@gmail.com </h3>
          </div>
        </div>

        <div class="slide-in from-below6 btns-net">
          <a class="socials" target="_blank" href="https://www.instagram.com/benj_boisson/?hl=fr"><i class="fab fa-instagram"></i></a>
          <a class="socials" target="_blank" href="https://github.com/BetterCallBen"><i class="fab fa-github"></i></a>
          <a class="socials" target="_blank" href="https://www.linkedin.com/in/benjamin-boisson-ba0a53227/"><i class="fab fa-linkedin-in"></i></a>
        </div>


        <div class="slide-in from-below7">
          <h6>I'm benjamin boisson, fullstack developer </h6>
        </div>

      </div>

    </div>

  </div>

  <div class="last-name">
    <div class="letter-div">
      <div class="letter-last slide-in from-right-later">B</div>
    </div>
    <div class="letter-div">
      <div class="letter-last slide-in from-right-later">O</div>
    </div>
    <div class="letter-div">
      <div class="letter-last slide-in from-right-later">I</div>
    </div>
    <div class="letter-div">
      <div class="letter-last slide-in from-right-later">S</div>
    </div>
    <div class="letter-div">
      <div class="letter-last slide-in from-right-later">S</div>
    </div>
    <div class="letter-div">
      <div class="letter-last slide-in from-right-later">O</div>
    </div>
    <div class="letter-div">
      <div class="letter-last slide-in from-right-later">N</div>
    </div>
  </div>

</div>


<a class="close-home btn-close-sites">close</a>
